.mission-wrapper{
    max-width: 100%;
    display:flex;
    flex-direction: row wrap;
    margin:0 auto;
    background-image:linear-gradient(#35374B ,black) ;
}
.mission-container{
    max-width: 75%;
    display:grid;
    text-align: center;
    margin:0 auto;
}

.mission-header{
    padding:1em 0 1em 0;
    font-size:5em;
    font-family:"Space Mono";
    font-weight: 900;
    color:#EA37A3;
}
.statement-holder{
    font-family: "IBM Plex Sans";
    font-size:1.3em;
    width:20em;
    height:fit-content;
    background-color: RGB(0,0,0, .3);
    border-radius: 20px;
    font-weight: 450;
    color:white;
    padding:2em;
    margin:5px auto;

}
.statement-header{
    font-size:2em;
    padding:8px;
    color:#6B4EE6;

}
.closing-body{
    color:#ffffff;
    font-size: 1.5em;
    padding:1.5em 0 2em 0;
    font-weight: 600;
    font-family: "Space Mono";
}
.join-logo{
    width:8vw;
}
.join-logo:hover{
    filter: invert(30%) sepia(79%) saturate(3505%) hue-rotate(241deg) brightness(94%) contrast(91%);


}
.join-rekt{
    display: flex;
    align-content: center;
    justify-content: center;
}

@media(max-width: 550px){
    .mission-container{
        max-width: 90%;
    }
    .join-logo{
        width: 30%;
     }
}

@media (max-width: 430px){
    .mission-container{
        max-width: 90%;
    }
    .mission-header{
        font-size: 3.25em;
    }
    .statement-holder{
        width: 12em;
    }
    .statement-header{
        font-size: 1.5em;
    }
    .join-logo{
       width: 30%;
    }
}