.monsters-wrapper{
    background-image: linear-gradient(#c2c2c2, white);
    padding:2em;
    display:flex;
    max-width: 100%;
}
.play-it-monster{
    width:12em;
    display: inline-flex;
    margin-left: 100px;
}
.play-it-copy{
    font-size: 3em;
    display: flex;
    margin-left: 5em;
    font-family: "Space Mono";
    font-weight: 800;
    color: #6B4EE6;
    padding:1em;
    
}
.log-it-monster{
    width:14em;
    display: flex;
    margin-left: 700px;
    text-align: center;
    justify-content: center;
}
.log-it-copy{
    font-size: 3em;
    display: flex;
    margin-left: 3em;
    font-family: "Space Mono";
    font-weight: 800;
    margin-left: 500px;
    color:black;
    
}
.share-it-monster{
    width:16em;
    display: flex;
    margin-left: 20%;
    text-align: center;
    justify-content: center;
}
.share-it-copy{
    font-size: 5em;
    display: flex;
    margin-left: 3em;
    font-family: "Space Mono";
    font-weight: 800;
    margin-left: 30px;
    color: #6B4EE6;
}