.monsters-wrapper{
    background-image: linear-gradient(#c2c2c2, white);
    padding:2em;
    display:flex;
    max-width: 100vw;
    
}
.play-it-monster{
    width:12em;
    display: inline-flex;
    margin-left: 100px;
}
.play-it-copy{
    font-size: 3em;
    display: flex;
    margin-left: 5em;
    font-family: "Space Mono";
    font-weight: 800;
    color: #6B4EE6;
    padding:1em;
    
}
.log-it-monster{
    width:14em;
    display: flex;
    margin-left: 700px;
    text-align: center;
    justify-content: center;
}
.log-it-copy{
    font-size: 3em;
    display: flex;
    margin-left: 3em;
    font-family: "Space Mono";
    font-weight: 800;
    margin-left: 500px;
    color:black;
    
}
.share-it-monster{
    width:16em;
    display: flex;
    margin-left: 20%;
    text-align: center;
    justify-content: center;
}
.share-it-copy{
    font-size: 5em;
    display: flex;
    font-family: "Space Mono";
    font-weight: 800;
    margin-left: 8em;
    color: #6B4EE6;
}

@media (max-width: 950px){
    .log-it-monster{
        margin-left: 500px;
    }
    .share-it-copy{
        margin-left: .5em;
    }
    .monsters-wrapper{
        padding: 1.5em;
    }
}

@media (max-width: 550px) {
    .play-it-monster, .share-it-monster{
        margin-left: 20px;
    }
    .log-it-monster, .log-it-copy{
        margin-left: 250px;
    }
    .play-it-copy{
        margin-left: 0;
        padding: .5em;
    }
    .share-it-copy{
        margin-left: 0;
        padding: .5em;
        padding-left: 0;
        font-size: 5em;
    }
}

@media (max-width: 430px) {
    .play-it-monster, .share-it-monster{
        margin-left: 0;
    }
    .play-it-copy{
        margin-left: 0;
        padding: .5em;
        padding-left: 0;
    }
    .log-it-monster, .log-it-copy{
        margin-left: 105px;
    }
    .share-it-copy{
        margin-left: 0;
        padding: .5em;
        padding-left: 0;
        padding-right: 0;
        font-size: 3.5em;
    }
    .share-it, .log-it, .play-it{
        margin-top: 10px;
    }
}