.image-container {
    width: 20rem;
    height: 20rem;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    border-radius: .5em;
    margin:3em 0 1em 1em;
    
}
.image-container:hover{
    box-shadow:5px 5px 5px rgb(255, 255, 255); 
}

/* the img inside the preview div, map to the container */
.game-image {
    width: 100%;
    height:  100%;
    object-fit:scale-down;
}
.game-name{
    display:none;
}
.game-name:hover{
    display: block;
    text-align: center;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    border-radius: 10px;
}
.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    line-height: 1.4;
    padding: 1vh 3vh;
    border-radius: 10px;
    max-width: 35vw;
    height: fit-content;
    background-color: rgb(0, 0, 0, 0.8);
    position: relative;
    align-self: center;
    overflow: none;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    border:none;
    font-weight: 800;
    color:rgb(255, 251, 251);
    background-color: rgb(0,0,0);
    font-size: 1.25em;
}
.close-modal:hover{
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    color:rgba(255, 185, 185, 0.8)
}
.game-modal-name{
    font-family: "Space Mono";
    color: #2BBEF2;
    font-weight: 700;
    font-size: 2.5em;
    align-items: center;
    display: flex;
}
.game-header{
    font-family: "IBM Plex Sans";
    font-size: 1.25em;
    font-weight: 600;
    color:#EBF400;
    padding: .5em;
}
.game-bio,.game-genre,.game-console,.game-release{
    color:White;
    font-size: 1em;
    font-family: "IBM Plex Sans";
    font-weight: 600;
    padding: 1em;
}
.modal{
    display: flex;
    align-items: center;
    margin-left:50vh;
}
.reviews-link{
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    padding: 0 2em;
    font-family: "IBM Plex Sans";
    color: #7b7b7b;
    text-align: center;
    margin-left: 30%;
}
.reviews-link:hover{
    color:#d7afff;
    text-shadow: #6b4ee6 1px 0px 10px ;
}
.heart-button{
    border-radius:1em;
    padding: .5vh;
    margin-right: 3vw;
}
.heart-button:hover{
    box-shadow: 1px 2px 4px white;
}