body.active-modal {
    overflow-y: hidden;
}
.add-btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 2em;
    font-size: 18px;
    border:none;
    background-color: #ebf400;
    border-radius: 6px;
    font-family: "Space Mono";
    font-weight: 600;
    color:rgb(48, 48, 48);
}
.add-btn-modal:hover{
    box-shadow: 2px 1px 10px rgb(255, 255, 167);
    color:white;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.overlay {
    background: rgba(49,49,49,0.8);
}
.add-modal-content {
    position: relative;
    top: 40%;
    left: 50%;
    line-height: 1.4;
    padding: 2vh;
    border-radius: 10px;
    background-color: rgba(16, 13, 13, 0.9);
    width:fit-content;
}
.add-close-modal {
    padding:1vh;
    border-radius: 10px;
    border: none;
    display: flex;
    margin-left:25%;
    font-family: "IBM Plex Sans";
    font-weight:600;
    background-color: #474747;
}
.add-close-modal:hover{
    background-color: #2BBEF2;
    box-shadow: 1px 2px 5px white;
}
.add-game-name{
    color:white;
    font-family: "Space Mono";
    color: #2BBEF2;
    font-weight: 900;
    font-size: 2vh;

}
.add-instruct{
    color:white;
    font-family:"IBM Plex Sans";
    font-size: 1.5vh;
    font-weight: 600;
}