.section-title{
    padding: 4vh 0 0 8vw;
    font-family: "Space Mono";
    font-size: 3.5vw;
    font-weight: 700;
    text-align: center;
    color: #EA37a3;
}
.team-item {
    background: #ffffff;
    text-align: center;
    font-family: "Space Mono";
    margin: 2em 0 5em 20em;
    border-radius: 1em 1em;
    padding: 2em 3em;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width:50%;

}
.team-item:hover {
    background: #525ee5;
    color: white;
}
.team-item h3 {
    font-weight: 100;
    font-family: "Space Mono";
    font-weight: 800;
    font-size: 2.5vh;
    margin: 20px 0 1px 0!important;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;

}
.team-item:hover h3 {
    color: #ddd;
}
.team-info{
    display: block;
    margin-bottom: 0;
    font-family: "Space Mono";
    font-style: italic;
    color: #acacac;
}
.team-info::after {
    background: #008aff;
    background: -webkit-linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
    background: -o-linear-gradient(bottom right, #6B02FF, #985BEF);
    background: -moz-linear-gradient(bottom right, #008aff, #1ad2fd);
    background: linear-gradient(135deg, #6B02FF 0%, #985BEF 100%);
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 100px;
    height: 2px; 
}
.team-image {
    padding: .5em .5em;
    border-radius: 50%;
    background-color: #dedede;
    max-width: 9em;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
}
.github-icon{
    width:4vw;
    margin-left: 45%;

}
.github-icon:hover{
    filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(253deg) brightness(102%) contrast(103%);
}