

.games{
  width:100%;
  height: 100%;
}
.gallery {
  height:100%;
  width:90vw;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  display:grid;
  border-radius: .5em;
  margin:1em;
  
}
.image-container:hover{
  box-shadow:5px 5px 5px rgb(255, 255, 255); 
}
.game-image {
  width: 100%;
  height:  100%;
  object-fit:scale-down;
}
.games-container {
  overflow-x: hidden;
  width:95%;
  height: 35vh;
  align-self: center;
  gap: 1em;
}

.scrollable {
  overflow-x: auto;
}

.gallery {
  display: flex;
  transition: all 0.3s ease;
}


@media(max-width: 1050px){
  .games-container{
    width: 93%;
    height: 30vh;
    gap: 1em
  }
}

@media(max-width: 950px){
  .games-container{
    width: 90%;
    height: 460px;
    gap: 1em
  } 
}

@media(max-width: 550px){
  .games-container{
    width: 90%;
    height: 250px;
    gap: 1em
  } 
}

@media(max-width: 450px){
  .games-container{
    width:85%;
    height: 320px;
    gap: 1em
  }
}

@media(max-height: 1400px)and (min-height: 1300px){
  .games-container{
    width: 93%;
    height: 550px;
    gap: 1em
  }
}
@media(max-height: 1050px)and (min-height: 1000px){
  .games-container{
    width: 93%;
    height: 375px;
    gap: 1em
  }
}

@media(max-height: 799px)and (min-height: 650px){
  .games-container{
    width: 84%;
    height: 250px;
    gap: 1em
  }
}