
.games-container{
    display: flex;
    flex-flow: row wrap;
    grid-template-rows: repeat(1, 1fr);
    row-gap: 2em;
    column-gap: 2em;
    margin-inline-start: 3em;
    margin-inline-end: 3em;
    align-items: center;
    justify-content: center;
    padding-top:2.5em;
  } 

 .game-name:hover{
    display: flex;
    font-weight: 700;
}